.footer {
	background-color: #222222;
	color: #fff;
	padding: 40px 0;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__logo {
		svg {
			width: 156px;
			height: 40px;
			fill: #ffffff;
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		font-size: 18px;
		line-height: 28px;
		address {
			font-style: normal;
		}
		a {
			color: #ffffff;
			&:hover {
				color: #c4c4c4;
			}
		}
	}
}
