.navbar {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 36px 0 32px;
	z-index: 50;
	transition: 0.3s all ease;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		width: 183px;
		height: 47px;
		cursor: pointer;
		transition: 0.3s all ease;
		svg {
			transition: 0.3s all ease;
			path {
				transition: 0.3s all ease;
				fill: #222222;
				&.logo_img-corner {
					fill: #99c3ad;
				}
				&.logo_img {
					fill: #06801f;
				}
			}
			rect {
				&.logo_img {
					fill: #06801f;
				}
			}
		}
		._scroll & {
			width: 141px;
			height: 36px;
			svg {
				max-width: 100%;
				width: 141px;
				height: 36px;
				transition: 0.3s all ease;
			}
		}
	}
	&._scroll {
		background-color: #ffffff;
		box-shadow: 0px -1px 14px rgba(0, 0, 0, 0.25);
		padding: 22px 0;

		@media screen and (max-width: 767.88px) {
			padding: 12px 0;
		}
	}
	.isOpen & {
		&__logo {
			svg {
				transition: 0.3s all ease;
				fill: #ffffff;
				path {
					transition: 0.3s all ease;
					fill: #ffffff;
					&.logo_img-corner {
						fill: #ffffff;
					}
					&.logo_img {
						fill: #ffffff;
					}
				}
			}
		}
	}

	@media screen and (max-width: 991.88px) {
		padding: 26px 0 22px;
	}

	@media screen and (max-width: 767.88px) {
		padding: 16px 0 16px;
	}
}

.mobileIcon {
	display: none;

	@media screen and (max-width: 768px) {
		display: block;
		position: relative;
		width: 32px;
		height: 25px;
		cursor: pointer;
		z-index: 5;
		span {
			display: block;
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #222222;
			&:first-child {
				top: 0;
				height: 3px;
			}
			&:last-child {
				top: auto;
				bottom: 0;
				height: 3px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				background-color: #ffffff;
				transition: all 0.3s ease 0s;
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 2px);
				}
			}
		}
	}
}

.menu {
	margin-right: 24px;
	display: flex;
	li {
		margin: 0 0 0 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			font-size: 15px;
			line-height: 18px;
			color: #222222;
			font-weight: 600;
			cursor: pointer;
			&._active {
				color: #21b560;
			}
			&:hover {
				color: #06801f;
			}
		}
	}
	@media screen and (max-width: 768px) {
		display: none;
	}
}
