@import 'null';
@import 'aos';

body {
	background-color: #fff;
	color: #000;
	font-family: 'Montserrat', sans-serif;
}

._container {
	width: 100%;
	max-width: 1158px;
	padding: 0 16px;
	margin: 0 auto;
}

.icon {
	display: inline-block;
	width: 24px;
	height: 16px;
}

.icon-gb {
	background-image: url('../assets/icons/gb-flag.jpg');
	background-size: 24px 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.icon-ru {
	background-image: url('../assets/icons/ru-flag.jpg');
	background-size: 24px 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.icon-uz {
	background-image: url('../assets/icons/uz-flag.jpg');
	background-size: 24px 16px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.btn {
	display: block;
	padding: 18px 32px;
	background-color: #21b560;
	border: none;
	position: relative;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	min-width: 200px;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
	&:hover {
		background-color: #14a853;
	}
}
.title {
	font-weight: bold;
	font-size: 48px;
	line-height: 52px;
	text-transform: uppercase;
	color: #222222;
	&._white {
		color: #ffffff;
	}

	@media screen and (max-width: 991.88px) {
		font-size: 40px;
	}

	@media screen and (max-width: 767.88px) {
		font-size: 36px;
	}
}

.input {
	display: block;
	width: 100%;
	background-color: #ffffff;
	border: 1.5px solid #3bba80;
	border-radius: 3px;
	font-weight: 300;
	font-size: 13px;
	line-height: 18px;
	color: #222222;
	padding: 18px 23px 16px 23px;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 115px;

	@media screen and (max-width: 991.98px) {
		padding-top: 95px;
	}

	@media screen and (max-width: 767.98px) {
		padding-top: 79px;
	}
}

.main {
	flex: 1 1 auto;
}
