.footer {
	background-color: #222222;
	color: #ffffff;
	padding: 48px 0 0;
	&__container {
		display: flex;
		flex-direction: column;
	}
	&__top {
		margin-bottom: 24px;
	}
	&__title {
		font-weight: bold;
		font-size: 36px;
		line-height: 44px;
		text-transform: uppercase;
		color: #ffffff;
		max-width: 500px;
	}
	&__info {
		display: flex;
		justify-content: space-between;
		gap: 32px;
		margin-bottom: 48px;
		&-col {
			flex: 0 1 33.333%;
		}
		&-head {
			font-weight: 500;
			font-size: 18px;
			line-height: 27px;
			color: #21b560;
		}
		p,
		address {
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 30px;
			color: #ffffff;
		}
		a {
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 30px;
			color: #ffffff;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: #06801f;
			}
		}
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 40px 0;
		border-top: 1px solid #9ba1a7;
		border-bottom: 1px solid #9ba1a7;
	}
	&__logo {
		cursor: pointer;
		svg {
			width: 212px;
			height: 54px;
			fill: #ffffff;
		}
	}
	&__media {
		display: flex;
		align-items: center;
		&-link {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 62px;
			height: 62px;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.1);
			transition: all 0.3s ease-in-out 0s;
			margin: 0 9px;
			svg {
				fill: #ffffff;
				transition: all 0.3s ease-in-out 0s;
			}
			&:hover {
				background-color: #ffffff;
				svg {
					fill: #148e2d;
				}
			}
		}
	}
	&__copy {
		padding: 40px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		p {
			font-size: 14px;
			line-height: 21px;
			color: #ffffff;
		}
		a {
			font-size: 14px;
			line-height: 21px;
			color: #ffffff;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: #06801f;
			}
		}
	}
	@media screen and (max-width: 991.88px) {
		&__text {
			max-width: 50%;
			text-align: right;
		}
	}
	@media screen and (max-width: 767.88px) {
		padding: 36px 0 0;
		&__container {
			flex-direction: column;
		}
		&__title {
			font-size: 32px;
			line-height: 1.2;
			margin: 0 auto;
			text-align: center;
		}
		&__info,
		&__bottom,
		&__copy {
			flex-direction: column;
		}
		&__info {
			&-head {
				text-align: center;
			}
			&-col {
				text-align: center;
			}
		}
		&__logo {
			margin-bottom: 24px;
		}
		&__text {
			max-width: 70%;
			width: 100%;
			text-align: left;
			align-items: flex-start;
			font-size: 16px;
			line-height: 24px;
			address {
				margin-bottom: 24px;
			}
		}
		&__copy {
			text-align: center;
		}
	}
	@media screen and (max-width: 480.88px) {
		&__text {
			max-width: 100%;
		}
	}
}
